@mixin absoluteCenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin fixedCenter {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
0 - 600px:		Phone
600 - 900px: 	Tablet portrait
900 - 1200px: 	Tablet landscape
1200 - 1800px: 	Desktop (Normal styles)
1800px+:		Big desktop

$breakpoint argument choices:
- phone
- tablet-portrait
- tablet-landscape
- desktop
- wide-desktop
*/
@mixin respond($breakpoint) {
	@if $breakpoint == small-phone {
		@media only screen and (max-width: 375px) {
			@content;
		}
	}
	@if $breakpoint == phone {
		@media only screen and (max-width: 600px) {
			@content;
		}
	}
	@if $breakpoint == tablet-portrait {
		@media only screen and (max-width: 900px) {
			@content;
		}
	}
	@if $breakpoint == tablet-landscape {
		@media only screen and (max-width: 1200px) {
			@content;
		}
	}
	@if $breakpoint == wide-desktop {
		@media only screen and (min-width: 1800px) {
			@content;
		}
	}
}
