$desktopBackgroundImageUrl: 'https://static1.squarespace.com/static/5cf4b9e4502d79000115e547/t/5f216d0df8e6f3150fa5941e/1596026143020/SS_Desktop_Background.jpg';
$mobileBackgroundImageUrl: 'https://static1.squarespace.com/static/5cf4b9e4502d79000115e547/t/5f216ae64c7b2845a0ca8896/1596025584810/SS_Mobile_Background.jpg';
$color-white: #ffffff;
