$desktopBackgroundImageUrl: "https://static1.squarespace.com/static/5cf4b9e4502d79000115e547/t/5f2183c5f57a1f3b8b4b4275/1596031956391/SS_Desktop.jpg";
$mobileBackgroundImageUrl: "https://static1.squarespace.com/static/5cf4b9e4502d79000115e547/t/5f2185173e523376b4194fbd/1596032293489/SS_Mobile.jpg";
$color-white: #ffffff;
