@font-face {
	font-family: 'Zeuty Sans';
	src: url(https://static1.squarespace.com/static/5cf4b9e4502d79000115e547/t/5f214af112b856309c150588/1596017395595/Zeuty-Sans.ttf);
}

@font-face {
	font-family: 'Optician Sans';
	src: url(https://static1.squarespace.com/static/5cf4b9e4502d79000115e547/t/5f214bb438e36e51950ac289/1596017588389/Optician-Sans.otf);
}
